/* فقط چند افکت ساده */
:host ::ng-deep .p-card {
  border-radius: 1.4rem !important;
}

:host ::ng-deep .p-inputtext {
  border-radius: 0.6rem !important;
  padding: 0.75rem !important;
}

:host ::ng-deep .p-button {
  border-radius: 0.8rem !important;
}
